 <!-- footer -->
 <footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ">
                    <hr class="light">
              Lorem, ipsum dolor sit amet consectetur adipisicing ratione ut reprehenderit? Ex odio cupiditate veniam adipisci. Reiciendis, eaque.
              <hr class="light">
              Lorem ipsum dolor sit, amet consectetur adipisicing res consequuntur quas, doloribus dolorem veniam quos? .
            </div>
            <div class="col-md-4 ">
                    <hr class="light">
               Lorem ipsum dolor sit amet consectetur adipisicing ndae obcaecati sed. Totam optio quibusdam voluptates asperiores, soluta dolor.
               <hr class="light">
               Lorem ipsum dolor sit, amet consectetur adipisicing uptatum assumenda maiores, eaque eligendi consequatur magni et iusto 
            </div>
            <div class="col-md-4 ">
                    <hr class="light">
                Lorem ipsum dolor sit amet consectetur adipisicing  nostrum dignissimos dicta aliquid minus veritatis fugiat voluptas.
                <hr class="light">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, magni ipsa molestiae totam, doloribus  
        </div>
        <div class="container-fluid text-center mt-2 bg-dark " style="line-height: 60px;">
            &copy 2019 - <bold>Vijay Shedge</bold> . All rights reserved.  
        </div>
    </div>
    </div>
</footer>