 <!-- Navbar -->
 <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-white">ESTORE</a>
        <button class="navbar-toggler btn-light active" data-target="#responsive" data-toggle="collapse">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item"><a href="/" class="nav-link active">HOME</a></li>
                <li class="navbar-item"><a href="#jumbo" class="nav-link">PRODUCTS</a></li>
                <li class="navbar-item"><a href="#connect" class="nav-link">CONNECT</a></li>
                <li class="navbar-item"><a href="#connect" class="nav-link">CONTACT US</a></li>
                <li class="navbar-item"><a href="/cart/checkout" class="nav-link">CART(<% if(typeof cart !=="undefined"){ %>
               <%= cart.length %>
                  <% } else{ %>
                    0
               <% } %>  
               )
                </a></li>
                
            </ul>
        </div>
    </div>
</nav>

    

