<div class="container text-center" style="margin-top: 150px; margin-bottom: 200px;">
        <div class="clearfix">
                <a href="/Adminlog/logout" class="btn btn-danger float-right">logout</a>
            </div> 
    <div class="row" >
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <a href="/Adminlog/addproducts" class="btn btn-primary">Add new Products</a>
            </div>
            <div class="card card-body">
                <a href="/Adminlog/viewproducts" class="btn btn-danger">view All Products</a>
            </div>
        </div>
        </div>
    </div>
</div>